/*navbar*/
.PureCart_Nav{background-color: #fff !important}
.PureCart_Nav .nav-link{color: #000000a3 !important;font-weight: 500 !important;padding-right: 15px !important;}

.PureCart_Nav .Brand_style{font-weight: bold;font-size: 25px;color: rgb(0 0 0 / 70%);}

.cart_icon{margin-right: 15px !important;font-size: 23px !important;padding-top: 0 !important;}

.user_icon{font-size: 23px !important;padding-top: 0 !important;}

.serch_nav{margin-right: 25px;}

.serch_nav input{background-color: #cccccc47;width: 250px;}

.Carousel_img{height: 500px;object-fit: cover;}

/*Carousel*/
.Carousel_img_container{width: 100%; height: 700px;}

.Carousel_img_container img{width: 100%; height:100%; object-fit: cover;}


/*Tittle items*/

.before_tittle{
	position: relative;
    position: relative;
    font-size: 35px;
    font-weight: 300;
    color: #db4444;
}
.before_tittle::before{
    content: "";
    width: 25px;
    height: 50px;
    position: absolute;
    margin-left: -37px;
    background-color: #db4444;
    border-radius: 5px;
}

.tittle_items{
    margin-top: 50px;
    margin-top: 100px;
}
.tittle_items button{width: 174px;height: 40px;background-color: #db4444 !important; }

.tittle_items button:hover{background-color: #db44449c !important; border: 0;}

/*card*/

.product_card{border: 0 !important;}

.product_card .card-img, .card-img-bottom, .card-img-top{width: 100%;height: 280px;object-fit: fill;}

.product_card .price_style{
    color: #db4444;
    font-weight: 600;
    margin-bottom: 5px;
}

.product_card .Star_style svg{margin-right: 3px;}

.product_card .Card_Body_style{padding-left: 3px !important;}

/*Categories*/

.service-categories{margin-top: 40px !important;}
  /*DEMO ONLY*/
  .service-categories .service-card{
    transition: all 0.2s;
  }
  .service-categories .card-title{
    padding-top: 0.5em;
  }
  .service-categories a:hover{
    text-decoration: none;
  }
  .service-card{
    padding: 25px;
    background: #db4444;
    border: 0;
    width: auto;
    height: auto;
    text-align: center;
  }
  .service-card:hover{
    background: #fff;
    border-right: 5px solid #db4444;
    border-left: 5px solid #db4444;
  }
  .icon_categories{font-size: 60px;}

/*Showproduct*/
.Image_Show{
    height: 500px !important;
    width: 100%;
    object-fit: fill;
    margin-top: 50px;
}
/*Brand*/

.brand_cover{width: 100%;height: 653px;}

.brand_cover img{width: 100%;height: 100%;object-fit: cover;}

.median_img img{height: 423px;width: 100%;object-fit: cover;}

.small_img img{height: 204px;width: 100%; object-fit: cover;}


/*footer*/

.copy_right{margin:0; padding-bottom: 20px;color: #3d3d3d;}

.Support_section p{color: hsl(0, 1%, 69%);}

footer .list-unstyled li{padding-top: 10px;}

footer .list-unstyled li a{text-decoration:auto;color: hsl(0, 1%, 69%) !important;}

footer .Social_footer{padding-top: 10px;}

footer .Social_footer a{color: #fff; margin-right: 10px;}

footer .Social_footer .Facebook:hover{color: #0d6efd;}

footer .Social_footer .Twiter:hover{color: #0dcaf0;}

footer .Social_footer .instgram:hover{color: #ab3f3f;}

footer .Social_footer .linked:hover{color: #0081fb;}

/* login register */

.loginregister_container{margin-top:35px !important } 

.loginRegister_img{height: 800px; width: 100%;}

.loginRegister_img img{width: 100%;height: 100%;object-fit: cover;}

.login_register_form{width: 50%;}

.login_register_form input{
  border: 0;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  margin-top: 20px;
} 

.login_register_form input:focus{
  border-bottom-color:#db4444;
  box-shadow: 0 0 0 0;
}

.login_register_form input::placeholder{color: #999999;}

.Form_text h1{margin-bottom: 20px;}

.Form_text span{font-weight: 600;}

.Footer_login_form{margin-top: 35px;}

.Footer_login_form button{background-color: #db4444;width: 135px;height: 55px;}

.Footer_login_form button:hover{background-color:#db44449c;border-color: #db44449c;}

.Footer_login_form span{margin-right: 73px; ;color:#db4444;font-weight: 600;}

.Footer_register_form{width: 82%;flex-direction: column !important;}

.Footer_register_form button{width: 100%;height: 55px; margin-top: 20px;font-weight: 600;}

.Footer_register_form .Google_register{margin-top: 20px; border: 1px solid #ccc;}

.Footer_register_form .Google_register svg{font-size: 45px;padding-right: 11px;}

.Footer_register_form .Google_register:hover{background-color: #3d3d3d; color: #fff;}

/* page not found*/
.error-container {
  text-align: center;
  font-size: 106px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 70px 15px;
}

.error-container > .span-container {
  display: inline-block;
  position: relative;
}

.error-container > .span-container.four {
  width: 136px;
  height: 43px;
  border-radius: 999px;
  background:
    linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%),
    linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%),
    linear-gradient(to right, #d89ca4, #e27b7e);
}

.error-container > .span-container.four:before,
.error-container > .span-container.four:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
}

.error-container > .span-container.four:before {
  width: 43px;
  height: 156px;
  left: 60px;
  bottom: -43px;
  background:
    linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%),
    linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%),
    linear-gradient(to top, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container > .span-container.four:after {
  width: 137px;
  height: 43px;
  transform: rotate(-49.5deg);
  left: -18px;
  bottom: 36px;
  background: linear-gradient(to right, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container > .span-container.zero {
  vertical-align: text-top;
  width: 156px;
  height: 156px;
  border-radius: 999px;
  background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%,  transparent 51%, transparent 100%),
    linear-gradient(to top right, #99749D, #99749D, #B895AB, #CC9AA6, #D7969E, #ED8687, #ED8687);
  overflow: hidden;
  animation: bgshadow 5s infinite;
}

.error-container > .span-container.zero:before {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(45deg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  left: 0px;
  bottom: 0px;
  background:
    linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%),
    linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
}

.error-container > .span-container.zero:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
  width: 70px;
  height: 70px;
  left: 43px;
  bottom: 43px;
  background: #FDFAF5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

@keyframes bgshadow {
  0% {
    box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
  }
  45% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  55% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
  }
}

.Page_not_found_container{margin: 150px;}

.Page_not_found_container button{background-color: #c699a7;border-color: #c699a7;padding: 12px; margin-top: 20px;}

.Page_not_found_container button:hover{background-color: #c699a789;border-color: #c699a7;}

.Page_not_found_container button a{color: #fff;text-decoration: auto;}

.link-container{flex-direction: column;}
/*contact page*/
.Contact{margin-bottom: 100px;}

.information_contact_container{background-color: #fff; border-radius: 20px;box-shadow:0 0 0 2px #cccccc2b;width: 100%; height: 450px; padding: 25px;margin-top:60px;}

.icon_style{border-radius: 50%;background-color: #db4444;padding: 3px;}

.icon_style svg{width: 40px;height: 40px;text-align: center;padding-bottom: 10px;color: #ffffffcf;}

.Contact .email_iformation{margin-top: 40px;}

.Contact .call_iformation{margin-bottom: 40px;}

.Contact input{height: 50px;margin-top: 15px;}

.Contact input::placeholder{font-weight: 600; color: #3d3d3d84;}

.Contact button{height: 55px;width: 200px;}

/*cart*/
.Cart_container{margin-top: 50px;}

.Cart_img img{width: 70px;height: 100px;object-fit: cover;}

.Cart_container .coupon_input{height: 55px;}

.Cart_container .coupon_button{height: 55px;width: 220px;margin-left: 10px; background-color: #db4444; border-color: #db4444;}

.Cart_container .coupon_button:hover{background-color: #db44449c; border-color: #db44449c;}

.Cart_container .card_total{background-color: #fff;padding: 40px;box-shadow: 0px 0px 0px 2px #ccc;}

.Cart_container .Checkout_button{height: 55px;width: 220px;background-color: #db4444; border-color: #db4444;margin-top: 25px;}

.Cart_container .Checkout_button:hover{background-color: #db44449c; border-color: #db44449c;}

/*About*/

.About_container{margin: 70px 0 46px 0;}

.About_container h1{margin-bottom: 50px;color: #db4444;}

/* TeamPage.css */

.our-team .team-row {
  margin-left: -40px;
  margin-right: -40px;
}

.our-team .team-wrap {
  padding: 0 40px;
}

.our-team .container-fluid {
  padding: 0 50px;
}

.team-img img {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.team-member,
.team-img {
  position: relative;
  overflow: hidden;
}

.team-title {
  margin: 30px 0 7px;
}

.overlay {
  background-color: rgba(20,20,20,.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details p {
  color: #fff;
}

.team-img:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.team-img:hover .overlay {
  opacity: 1;
}

.socials a {
  display: inline-block;
  width: 37px;
  height: 37px;
  margin-right: 10PX;
  background-color: transparent;
}

.socials svg {
  line-height: 37px;
  color: #616161;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-details .socials svg {
  color: #fff;
}

.socials a:hover svg {
  color: #fff;
  background-color: #355c7d;
}
